table, th, td{
    border: 2px solid gray;
    width: auto;
    border-collapse: collapse;
    padding: 10px;
}

th {
    padding: 10px;
    text-align: left;
    vertical-align: middle;


td {
    text-align: left;
    vertical-align: middle;


}